<div class="main-content">
  <div class="container-fluid">
    <div class="row login-form">
      <div class="col-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Login</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm">
              <div class="row">
                <mat-form-field class="example-full-width col-12"
                  [ngClass]="{'has-danger': hasError && loginForm.get('email').errors}">
                  <input matInput type="email" formControlName="email" placeholder="you@emailaddress.com"
                    class="form-control">
                  <span *ngIf="hasError && !loginForm.get('email').errors" class="form-control-feedback">
                    <i class="material-icons">done</i>
                  </span>
                  <span *ngIf="hasError && loginForm.get('email').errors" class="form-control-feedback">
                    <i class="material-icons">clear</i>
                  </span>
                </mat-form-field>
                <mat-error *ngIf="hasError && loginForm.get('email').errors">
                  <span class="text-danger">
                    Email is required!
                  </span>
                </mat-error>
                <mat-form-field class="example-full-width col-12"
                  [ngClass]="{'has-danger': hasError && loginForm.get('password').errors}">
                  <input matInput type="password" formControlName="password" placeholder="Password">
                  <span *ngIf="hasError && !loginForm.get('password').errors" class="form-control-feedback">
                    <i class="material-icons">done</i>
                  </span>
                  <span *ngIf="hasError && loginForm.get('password').errors" class="form-control-feedback">
                    <i class="material-icons">clear</i>
                  </span>
                </mat-form-field>
                <mat-error *ngIf="hasError && loginForm.get('password').errors">
                  <span class="text-danger">
                    Password is required!
                  </span>
                </mat-error>
              </div>
              <div class="col-12 text-right">
                <button mat-raised-button type="submit" (click)="login()" class="btn btn-success">Login<fa-icon
                  *ngIf="submitting" [icon]="['fas', 'spinner']" size="lg" class="ml-2 fa-spinner" spin="true">
                </fa-icon></button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
