<div [ngStyle]="{'background-color' : secondaryColor}">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0">

          <img class="block lg:hidden h-8 w-auto" src="https://logo.clearbit.com/alanwire.com" alt="Company logo">
          <img class="hidden lg:block h-8 w-auto" src="https://logo.clearbit.com/alanwire.com" alt="Company logo">
        </div>

        <nav>
          <ul class="flex space-x-4">
            <li class="nav-item">
              <a
                routerLink=""
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="bg-sky-800  "
                class="text-white py-2 px-3 transition-colors duration-300 ease-in-out rounded-lg"
                >Dashboard</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLink="/employee-docs"
                routerLinkActive="bg-sky-800  "
                class="text-white py-2 px-3 transition-colors duration-300 ease-in-out rounded-lg"
                >Docs</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLink="/team"
                routerLinkActive="bg-sky-800  "
                class="text-white py-2 px-3 transition-colors duration-300 ease-in-out rounded-lg"
                >Team</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLink="/calendar"
                routerLinkActive="bg-sky-800  "
                class="text-white py-2 px-3 transition-colors duration-300 ease-in-out rounded-lg"
                >Calendar</a
              >
            </li>
            <li class="nav-item">
              <a
                routerLink="/about"
                routerLinkActive="bg-sky-800  "
                class="text-white py-2 px-3 transition-colors duration-300 ease-in-out rounded-lg"
                >About Us</a>
            </li>

            <!-- <li *ngIf="!(user$ | async)">
              <a
                routerLink="login"
                routerLinkActive="bg-sky-800  "
                class="text-white py-2 px-3 transition-colors duration-300 ease-in-out rounded-lg"
                aria-current="page"
                >Login</a
              >
            </li>

            <li *ngIf="!(user$ | async)">
              <a
                routerLink="signup"
                routerLinkActive="bg-sky-800 "
                class="text-white py-2 px-3 transition-colors duration-300 ease-in-out rounded-lg"
                >Signup</a
              >
            </li> -->
          </ul>
        </nav>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <div class="ml-3 relative">
          <div>
            <button type="button" class="max-w-xs flex items-center text-sm rounded-full focus:outline-none focus:shadow-solid"
                    id="user-menu"
                    aria-label="User menu"
                    aria-haspopup="true"
                    (click)="toggleProfileDropdown()">
              <img class="h-8 w-8 rounded-full"
                   src="https://source.unsplash.com/random/64x64"
                   alt="Profile picture">
            </button>
          </div>
          <div *ngIf="showProfileDropdown"
               class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Settings</a>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Log out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


