<body class="font-sans antialiased leading-normal tracking-wider bg-cover">


<div class="max-w-4xl items-center mx-auto my-32">
    <div class="bg-sky-900 p-4 rounded-md">
      <div>
        <img class="w-48 h-48 rounded-md shadow-lg mb-4" src="https://tv-fanatic-res.cloudinary.com/iu/s--hNVyHBFS--/t_full/cs_srgb,f_auto,fl_strip_profile.lossy,q_auto:420/v1576624894/grunkle-stan-gravity-falls-season-2-episode-11.png" alt="Profile Image" />
      </div>
      <h1 class="text-white text-3xl font-bold pt-8 lg:pt-0">API name</h1>
      <ul class="md:w-auto bg-blue-200 text-black-900 hover:shadow py-2 px-3 mt-3 rounded inline-block space-y-2">
        <li class="text-lg rounded-xl py-2 px-4 mx-auto space-x-2 font-semibold">
          <span>Employed since</span>
          <span>API hire date</span>
        </li>
       </ul>
   <div class="flex flex-row text-gray-900 hover:shadow py-2 px-3 mt-3 shadow-sm bg-blue-100 p-3 shadow-sm rounded-sm rounded-xl">
        <div class="md:flex">
          <div class="w-full md:w-9/12 mx-2 h-64">
             <div class="text-gray-700">
              <div class="grid md:grid-cols-2 text-lg">
                <div class="grid grid-cols-2">
                  <div class="px-4 py-2 font-semibold">Phone</div>
                  <div class="px-4 py-2">API phone</div>
                </div>
                <div class="grid grid-cols-2">
                  <div class="px-4 py-2 font-semibold">Emergency Contact Name</div>
                  <div class="px-4 py-2">API emergency contact name</div>
                </div>
                <div class="grid grid-cols-2">
                  <div class="px-4 py-2 font-semibold">Email</div>
                  <div class="px-4 py-2">API email</div>
                </div>
                <div class="grid grid-cols-2">
                  <div class="px-4 py-2 font-semibold">Emergency Contact Phone</div>
                  <div class="px-4 py-2">API emergency contact phone</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-2" (click)="editProfile()">Edit Profile</button>
    </div>
  </div>
</body>


