<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="#">Loyale</a>
    </div>
  </div>
</nav>
<div class="main-content">
  <div class="container-fluid">
    <div class="row register-form">
      <div class="col-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Register</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="registerForm">
              <div class="row">
                <div class="col-12">
                  <mat-form-field class="example-full-width" [ngClass]="{'has-danger': hasError && registerForm.get('email').errors}">
                    <input matInput type="email" formControlName="email" placeholder="you@emailaddress.com">
                    <span *ngIf="hasError && !registerForm.get('email').errors" class="form-control-feedback">
                      <i class="material-icons">done</i>
                    </span>
                    <span *ngIf="hasError && registerForm.get('email').errors" class="form-control-feedback">
                      <i class="material-icons">clear</i>
                    </span>
                  </mat-form-field>
                  <mat-error *ngIf="hasError && registerForm.get('email').errors">
                    <span class="text-danger">
                      Valid Email is required!
                    </span>
                  </mat-error>
                </div>
                <div class="col-12">
                  <mat-form-field class="example-full-width" [ngClass]="{'has-danger': hasError && registerForm.get('password').errors}">
                    <input matInput type="password" formControlName="password" placeholder="Password">
                    <span *ngIf="hasError && !registerForm.get('password').errors" class="form-control-feedback">
                      <i class="material-icons">done</i>
                    </span>
                    <span *ngIf="hasError && registerForm.get('password').errors" class="form-control-feedback">
                      <i class="material-icons">clear</i>
                    </span>
                  </mat-form-field>
                  <mat-error *ngIf="hasError && registerForm.get('password').errors">
                    <span class="text-danger">
                      Passwords is required!
                    </span>
                  </mat-error>
                </div>
                <div class="col-12">
                  <mat-form-field class="example-full-width" [ngClass]="{'has-danger': hasError && registerForm.get('passwordConfirmation').errors}">
                    <input matInput type="password" formControlName="passwordConfirmation" placeholder="Confirm Password">
                    <span *ngIf="hasError && !registerForm.get('passwordConfirmation').errors" class="form-control-feedback">
                      <i class="material-icons">done</i>
                    </span>
                    <span *ngIf="hasError && registerForm.get('passwordConfirmation').errors" class="form-control-feedback">
                      <i class="material-icons">clear</i>
                    </span>
                  </mat-form-field>
                  <mat-error *ngIf="hasError && registerForm.get('passwordConfirmation').errors">
                    <span class="text-danger">
                      Passwords Don't Match
                    </span>
                  </mat-error>
                </div>
              </div>
              <button mat-raised-button type="submit" (click)="register()" class="btn btn-outline-primary pull-right">Login</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="sc form-group">
  <input type="password" id="passwordConfirmation" formControlName="passwordConfirmation" placeholder="Confirm password">
  <label class="form-error" *ngIf="submitting && userForm.get('passwordConfirmation').errors && userForm.get('passwordConfirmation').errors['notMatch']">
    <span class="text-danger" *ngIf="userForm.get('passwordConfirmation').errors">
      Passwords Don't Match
    </span>
  </label>
</div> -->
