<div class="container mx-auto p-4">
  <div class="flex justify-between items-center mb-4">
    <button class="bg-blue-500 text-white px-4 py-2 rounded-md" (click)="previousMonth()">Previous</button>
    <h2 class="text-lg font-bold">{{ currentDate.format('MMMM YYYY') }}</h2>
    <button class="bg-blue-500 text-white px-4 py-2 rounded-md" (click)="nextMonth()">Next</button>
  </div>

  <div class="grid grid-cols-7 gap-4">
    <div class="text-center font-semibold">Sunday</div>
    <div class="text-center font-semibold">Monday</div>
    <div class="text-center font-semibold">Tuesday</div>
    <div class="text-center font-semibold">Wednesday</div>
    <div class="text-center font-semibold">Thursday</div>
    <div class="text-center font-semibold">Friday</div>
    <div class="text-center font-semibold">Saturday</div>

    <div *ngFor="let day of calendarDays" class="text-center border border-gray-300 p-8">
      <div class="cursor-pointer" (click)="addEvent(day)">
        {{ day.format('D') }}
      </div>
      <div *ngIf="isEventOnDay(day)" class="text-sm mt-1  flex items-center">
        {{ getEventNameForDay(day) }}
        <button class="text-red-500 px-2 py-1 rounded-md hover:bg-red-500 hover:text-white" (click)="deleteEvent(day)">Delete</button>
      </div>
    </div>

  </div>
</div>

<div *ngIf="showEventForm" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="bg-white p-4 rounded-md shadow">
    <h3 class="text-lg font-bold mb-2">Add Event</h3>
    <form (submit)="submitEvent()">
      <input type="text" [(ngModel)]="eventName" name="Event Name" placeholder="Event Name" class="block w-full border-gray-300 rounded-md mb-2 p-2" required>
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Add</button>
      <button type="button" (click)="cancelEvent()" class="bg-gray-500 text-white px-4 py-2 rounded-md ml-2">Cancel</button>
    </form>
  </div>
</div>
